<div class='text-center'>
  <div class='container-fluid'>
    <h4>Punk Ass Bitch</h4>
    <img src="<%= image_path('003') %>">
    <br>
    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
  </div>
  
</div>
