<div class='text-center'>
  <div class='container-fluid'>
    <div class='row'>

      <% @post.each do |p| %>
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='padding:0px'>
        <h4><%= p.title %></h4>
        <img src="<%= p.image %>">
        <br>
        <span style='padding-right:12em'>143 points • 22 comments</span>
        <br>
        <div style='padding-right:18em'>
          <i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i>
          <i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i>
          <i class="fa fa-commenting-o fa-2x" aria-hidden="true"></i>
        </div>
        <hr style='width:27em'>
      </div>
      <% end %>

    </div>
  </div>
</div>
