<div class='text-center'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='padding:0px'>
        <h4>Punk Ass Bitch</h4>
        <img src="<%= image_path('003') %>">
        <br>
        <span style='padding-right:12em'>200 points • 200 comments</span>
        <br>
        <div style='padding-right:18em'>
          <i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i>
          <i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i>
          <i class="fa fa-commenting-o fa-2x" aria-hidden="true"></i>
        </div>
        <hr style='width:27em'>
      </div>
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='padding:0px'>
        <h4>It's You</h4>
        <img src="<%= image_path('006') %>">
        <br>
        <span style='padding-right:20em'>140 points</span>
        <br>
        <div style='padding-right:21em'>
          <i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i>
          <i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i>
        </div>
        <hr style='width:27em'>
      </div>
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12' style='padding:0px'>
        <h4>Happy ever after?</h4>
        <img src="<%= image_path('007') %>">
        <br>
        <span style='padding-right:20em'>520 points</span>
        <br>
        <div style='padding-right:21em'>
          <i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i>
          <i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i>
        </div>
        <hr style='width:27em'>
      </div>

    </div>
  </div>
</div>
